<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,
			initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="{% static 'css/home.css' %}">
     <link rel="stylesheet" href="{% static 'css/login.css' %}">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
          crossorigin="anonymous">
    <title>Student cafe</title>
</head>
<body>
<!-- Header -->
<header>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="{% url 'cafe:home' %}">Menu <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#contactus">Contact Us</a>
      </li>
   <!--login functionality-->
        {% if user.is_authenticated %}
            <li class="nav-item"><a class="nav-link" href="{% url 'logout' %}"><i class="fa fa-btn fa-sign-out"></i>Logout</a></li>
        {% else %}
            <li class="nav-item"><a class="nav-link" href="{% url 'login' %}"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
        {% endif %}

         <!--My bag functionality-->
        <li class="nav-item">
            {% with totail_items=cart|length %}
                {% if cart|length > 0 %}
                    <a class="nav-link" href="{% url "cart:cart_detail" %}" >
                        My bag <sup style="color: firebrick">{{ totail_items }} item{{ totail_items|pluralize }}</sup>
                    </a>
                {% else %}
                    <a class="nav-link" href="{% url "cart:cart_detail" %}">My bag</a>
                {% endif %}
            {% endwith %}
        </li>
     {% if user.is_authenticated %}
        <li class="nav-item">
            <a class="nav-link" href="{% url 'orders:myorders' user.id %}">My Orders</a>
        </li>
    {% else %}
    <li> </li>
    {% endif %}

    </ul>
  </div>
</nav>
<!--
<nav>
    <ul class="nav-flex-row">
        <li class="nav-item">
            <a href="{% url 'cafe:home' %}">Menu</a>
        </li>
        <li class="nav-item">
            <a href="#contact-us">Contact Us</a>
        </li>

        {% if user.is_authenticated %}
            <li><a href="{% url 'logout' %}"><i class="fa fa-btn fa-sign-out"></i>Logout</a></li>
        {% else %}
            <li><a href="{% url 'login' %}"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
        {% endif %}



        <li class="nav-item">
            <a href="{% url "cart:cart_detail" %}">My bag</a>
            {% with totail_items=cart|length %}
                {% if cart|length > 0 %}

                    <a href="{% url "cart:cart_detail" %}" style="color: firebrick">
                        <sup>{{ totail_items }} item{{ totail_items|pluralize }}</sup>
                    </a>
                {% else %}

                {% endif %}
            {% endwith %}
        </li>
     {% if user.is_authenticated %}
        <li class="nav-item">
            <a href="{% url 'orders:myorders' user.id %}">My Orders</a>
        </li>
    {% else %}
    <li> </li>
    {% endif %}


    </ul>
</nav>
</header>
--!>
<main>
<section class="section-intro">
        <h1>Student's Café</h1>

    {% if user.is_authenticated %}
       <div class="page-container">
           <h4 class="top-menu">Hello {{ user.username }}!</h4>
       </div>
   {% endif %}
</section>

</main>

{% block content %}

{% endblock %}
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>

</body>
</html>


